/*---------- ADMIN ---------------*/
/*.pmxi_plugin .options_group .input {
  padding-left: 150px;
  margin-top: 10px;
  clear: both;
}

.pmxi_plugin .options_group .input label {
  padding-left: 160px !important;
}*/

/* Fix WooCommerce import fields */
/*.all-import_page_pmxi-admin-import .woocommerce_options_panel label, .all-import_page_pmxi-admin-import .woocommerce_options_panel legend { margin: 0 !important; }

.all-import_page_pmxi-admin-import .woocommerce_options_panel fieldset.form-field, .all-import_page_pmxi-admin-import .woocommerce_options_panel p.form-field { padding: 5px 20px 5px 15px!important; }
*/
/* Visual Composer */
.vc_navbar-header { display: none; }

/* Re-order CPTs notice */ 
div#cpt_info_box { display: none; }

/* Hide big red Sold Out badge */
span.soldout {
    display: none;
}

/* Hack to fix Product admin columns from WP SEO */
table.wp-list-table .column-name{
  width: auto !important;
}

/* Hide upload/size guide on Product Additional Options */
.format-settings:nth-of-type(4), 
.format-settings:nth-of-type(5) {
    display: none;
}

/* Add to Product Additional Options labels */
.format-settings:nth-of-type(4), .format-settings:nth-of-type(5) {
    display: none;
}

.format-settings:nth-of-type(2) label.label:after {
    content: ' (example: "FAQ")';
}

.format-settings:nth-of-type(6) label.label:after {
    content: ' (example: "Backstory")';
}

.format-settings:nth-of-type(7) label.label:after {
    content: ' (example: "Backstory Text")';
}

/* Hide extra Edit Product options */
span.duplicate {
    display: none;
}

span.edit_as_new_draft {
    display: none;
}

/* Hide Yoast SEO traffic light in submit box */
.submitbox div#wpseo-score {
    display: none;
}

/* Float Advanced Custom Fields (ACF) inputs */
div#acf-reserved {
    margin-right: 20px;
    display: table-cell;
    padding-right: 30px;
}

div#acf-sold_date {
    margin-right: 20px;
    display: table-cell;
    padding-right: 30px;
}

div#acf-orientation {
    display: table-cell;
}

div#acf-provider {
    clear: both;
}

div#acf-linked_product .acf_relationship.loading {
  left: 0;
}